* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
p {
    color: #999;
    letter-spacing: 1px;
}
h2 {
    font-size: 50px;
    text-align: center;
}

/* --------Header------- */
.header {
    height: 100vh;
    background-image: url(img/1.jpg);
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo {
    float: left;
    margin-left: 50px;
}
.header .nav {
    float: right;
    margin-right: 50px;
}
.header .nav ul {
    display: flex;
}
.header .nav li {
    list-style-type: none;
    margin: 16px 5px;
}
.header .nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
.header .nav a:hover {
    color: black;
    background-color: white;
}
#main-header {    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
#main-header h2 {
    margin-bottom: 10px;
}
#main-header p {
    width: 70%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
#main-header a {
    border: solid 2px white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
#label-list {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0%);
    padding: 0;
}
#label-list ul {
    display: flex;
    padding: 0px;
}
#label-list .label {
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 8px;
    display: block;
    opacity: 0.7;
}
/* --------Welcome------- */
#welcome {
    padding: 100px 10%;
}
#welcome h2 {
    margin: 0;
    text-align: center;
}
#welcome p {
    text-align: center;
    margin: 50px 10%;
    letter-spacing: 1px;
    color: #999;
}
#welcome img {
    display: block;
    margin: auto;
    width: 100%;
}

/* --------What-we-do------- */
#what-we-do {
    border: 2px solix green;
    padding: 100px;
    padding-top: 0;
}
#what-we-do h2 {
    text-align: center;
    margin: 40px auto;
}
#what-we-do h3 {
    text-align: center;
}
#what-we-do p {
    text-align: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 25%;
    padding: 20px;
}
.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-top: 30px;
}

/* --------Statistics------- */
#statistics {
    background-image: url(img/bg.jpg);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
#statistics h2 {
    color: white;
}
#statistics p {
    color: white;
    margin: 0;
    text-align: center;
}
.bnum {
    font-size: 70px;
}

/* --------Services------- */
#services {
    padding: 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #f8f9fa;
}
#services h3 {
    font-size: 32px;
    font-weight: normal;
}
#services #left {
    width: 90%;
    float: left;
    padding: 0 50px;
}
#services #left p {
    line-height: 2.5;
}
#services #right {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    justify-content: space-around;
    align-content: space-around;
}
#services .item {
    padding: 45px;
    text-align: center;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    box-shadow: 7px 7px 10px 0 rgb(76 110 245 / 10%);
    background-color: #fff;
}
#services .item i {
    font-size: 50px;
    color: #ff9900;
}

/* --------Testimonials------- */
#testimonials {
    padding: 45px;
    color: white;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#testimonials .container {
    display: flex;
    margin: 0 150px;
    justify-content: space-around;
}
#testimonials .container .card {
    text-align: center;
    width: 29%;
}
#testimonials p {
    color: white;
}
#testimonials .container .card img {
    width: 100px;
    height: 100px;
}
#testimonials h3 {
    font-size: 18px;
    color: #ff9900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    text-align: right;
}

/* --------Our Blog------- */
#ourblog {
    padding: 100px;
}
#ourblog .container {
    display: flex;
    justify-content: space-around;
}
#ourblog .container .item {
    width: 31%;
}
#ourblog .item:last-child{
    padding: 20px;
    border: solid 1px rgb(219, 219, 219);
    box-shadow: 0px 3px 10px 1px rgb(45 45 45 / 8%);
}
#ourblog .content {
    padding: 16px;
    border-radius: 1%;
    border: solid 1px rgb(219, 219, 219);
}
#ourblog img {
    display: block;
    width: 100%;
    border-radius: 1%;
}
#ourblog a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: black;
}
#ourblog a.btn-orange {
    font-size: 16px;
    color: #ff9900;
    text-decoration: none;
    font-weight: 600;
}
#ourblog p.btn-orange {
    font-size: 16px;
    color: #ff9900;
    text-decoration: none;
}

/* --------Map------- */
#map {
    width: 100%;
}
/* --------Contact------- */
#contact {
    padding: 40px 120px;
}
#contact .container {
    padding: 0 80px;
    display: flex;
    justify-content: space-around;
}
#contact .container .left {
    width: 40%;
}
#contact h3 {
    font-weight: inherit;
    text-align: left;
    color: #ff9900;
    font-size: 30px;
    margin-top: 0;
}
#contact h4 {
    font-weight: 100;
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
}
#contact p{
    margin: 0;
    margin-bottom: 2px;
    font-size: 15px;
}
#contact i {
    width: 20%;
    font-size: 30px;
}
#contact .container .row {
    display: flex;
    margin-bottom: 20px;
}
#contact .container .right {
    width: 50%;
    padding: 32px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 0 rgb(56 56 56 / 21%);
}
#contact input.format-input {
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #555;
    width: 100%;
    border: 1px solid #e6e6e6;
    margin-bottom: 15px;
}
#contact textarea {
    padding: 15px;
    min-height: 180px;
    font-size: 16px;
    color: #555;
    width: 100%;
    resize: none;
    border: 1px solid #e6e6e6;
    font-family: inherit;
} #contact .btn-submit {
    width: 100%;
    padding: 15px;
    background-color: #fdb54b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
/* --------Footer------- */
#footer {
    /* width: 100%; */
    padding: 50px 80px;
    background-color: #17181b;
}
#footer h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
#footer h4 {
    font-weight: inherit;
    margin: 0;
    padding: 0;
    color: #fff;
}
#footer p {
    font-size: 15px;
    color: #727377;
    letter-spacing: 1px;
    font-weight: inherit;
    margin: 10px 0px 20px 0px;
}
#footer input {
    padding: 13px;
    font-size: 15px;
}
#footer button {
    padding: 15px 20px;
    font-size: 15px;
    color: #fff;
    margin-left: -5px;
    background-color: #c57600;
    border: none;
}
#footer .item a {
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    text-decoration: none;
    margin-right: 10px;
    color: white;
}
a#fb {
    background-color: #3b5998;
}
a#twitter {
    background-color: #1da1f2;
}
a#drib {
    background-color: #ea4c89;
}
a#gg {
    background-color: #f44336;
}
#footer .container {
    display: flex;
    justify-content: space-evenly;
}
#footer .container .item {
    width: 18%;
}
#footer .container .item:last-child {
    width: 25%;
}