* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}
p {
  color: #999;
  letter-spacing: 1px;
}
h2 {
  font-size: 50px;
  text-align: center;
}

/* --------Header------- */
.header {
  height: 100vh;
  background-image: url(img/1.jpg);
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#logo {
  float: left;
  margin-left: 50px;
}
.header .nav {
  float: right;
  margin-right: 50px;
}
.header .nav ul {
  display: flex;
  padding: 0;
}
.nav label {
  display: none;
}
.nav input {
  display: none;
}

.header .nav li {
  position: relative;
  list-style-type: none;
  margin: 16px 5px;
  color: white;
}
.header .nav a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 16px;
  border-radius: 5px;
}
.header .nav li:hover > a {
  color: black;
  background-color: white;
}
.nav li.drop-down ul {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav li.drop-down {
  position: relative;
}
.nav li.drop-down li {
  margin: 0;
  width: 100%;
}
.nav li.drop-down:hover ul {
  display: block;
  width: 100%;
}
#main-header {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
#main-header h2 {
  margin-bottom: 10px;
}
#main-header p {
  width: 100%;
  margin: 0 auto;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
#main-header a {
  border: solid 2px white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
/* ---label-dot--- */
#label-list {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0%);
  padding: 0;
}
#label-list ul {
  display: flex;
  padding: 0px;
}
#label-list .label {
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 8px;
  display: block;
  opacity: 0.7;
}
@media only screen and (max-width: 992px) {
  .header .nav ul {
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  .header .nav > label {
    display: block;
    background-color: #fff;
    color: black;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
  }
  .nav li.drop-down ul {
    display: none;
  }
  .nav li.drop-down label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  .header input#toggle-menu ~ ul {
    display: none;
  }
  .header input#toggle-menu:checked ~ ul {
    display: flex;
  }
  .header input#toggle-2 ~ ul {
    display: none;
    position: relative;
    margin-top: 0;
  }
  .header input#toggle-2:checked ~ ul {
    display: block;
    margin: 16px 0;
  }
  .header .nav li {
    margin: 0 5px;
  }
}
@media only screen and (max-width: 576px) {
  #main-header {
    width: 90%;
  }
  #main-header h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
/* --------Welcome------- */
#welcome {
  padding: 100px 10%;
}
#welcome h2 {
  margin: 0;
  text-align: center;
}
#welcome p {
  text-align: center;
  margin: 50px 10%;
  letter-spacing: 1px;
  color: #999;
}
#welcome img {
  display: block;
  margin: auto;
  width: 100%;
}

/* --------What-we-do------- */
#what-we-do {
  border: 2px solix green;
  padding: 100px;
  padding-top: 0;
}
#what-we-do h2 {
  text-align: center;
  margin: 40px auto;
}
#what-we-do h3 {
  text-align: center;
}
#what-we-do p {
  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 25%;
  padding: 20px;
}
.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-top: 30px;
}
@media only screen and (max-width: 992px) {
  .card {
    width: 50%;
    padding: 20px;
  }
}
@media only screen and (max-width: 576px) {
  #what-we-do {
    padding: 10px;
  }
  .card {
    width: 100%;
  }
}

/* --------Statistics------- */
#statistics {
  background-image: url(img/bg.jpg);
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
#statistics h2 {
  color: white;
}
#statistics p {
  color: white;
  margin: 0;
  text-align: center;
}
.bnum {
  font-size: 70px;
}
@media only screen and (max-width: 992px) {
  .bnum {
    font-size: 50px;
  }
  #statistics .card {
    padding: 0 0 20px;
  }
  #statistics .card-container {
    padding: 20px;
  }
}
@media only screen and (max-width: 576px) {
  #statistics {
    padding: 10px;
  }
}

/* --------Services------- */
#services {
  padding: 100px;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #f8f9fa;
}
#services h3 {
  font-size: 32px;
  font-weight: normal;
}
#services #left {
  width: 90%;
  float: left;
  padding: 0 50px;
}
#services #left p {
  line-height: 2.5;
}
#services #right {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49%;
  justify-content: space-around;
  align-content: space-around;
}
#services .item {
  padding: 45px;
  text-align: center;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  box-shadow: 7px 7px 10px 0 rgb(76 110 245 / 10%);
  background-color: #fff;
}
#services .item i {
  font-size: 50px;
  color: #ff9900;
}
@media only screen and (max-width: 992px) {
  #services {
    padding: 20px 10px 100px 0;
    grid-template-columns: 38% 62%;
  }
  #services #left {
    padding: 0 20px;
    width: 100%;
  }
  #services #left h2 {
    margin-top: 0;
    font-size: 40px;
    text-align: left;
  }
  #services #right {
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40%;
    align-content: center;
  }
  #services .item {
    padding: 20px;
    margin-right: 2%;
    margin-bottom: 3%;
  }
  #services h3 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #services .item i {
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) {
  #services {
    grid-template-columns: 100%;
    padding: 25px 10px;
  }
  #services #left h2 {
    font-size: 30px;
  }
  #services #right {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 20px;
  }
  #services .item {
    margin-right: 0;
  }
}

/* --------Testimonials------- */
#testimonials {
  padding: 45px;
  color: white;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#testimonials .container {
  display: flex;
  margin: 0 150px;
  justify-content: space-around;
}
#testimonials .container .card {
  text-align: center;
  width: 29%;
}
#testimonials p {
  color: white;
}
#testimonials .container .card img {
  width: 100px;
  height: 100px;
}
#testimonials h3 {
  font-size: 18px;
  color: #ff9900;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  text-align: right;
}
@media only screen and (max-width: 992px) {
  #testimonials .container {
    margin: 0;
  }
}
@media only screen and (max-width: 576px) {
  #testimonials {
    padding: 20px;
  }
  #testimonials h2 {
    font-size: 35px;
  }
  #testimonials h3 {
    margin-right: 100px;
  }
  #testimonials .container {
    flex-wrap: wrap;
  }
  #testimonials .container .card {
    text-align: center;
    width: 100%;
  }
}
/* --------Our Blog------- */
#ourblog {
  padding: 100px;
}
#ourblog .container {
  display: flex;
  justify-content: space-around;
}
#ourblog .container .item {
  width: 31%;
}
#ourblog .item:last-child {
  padding: 20px;
  border: solid 1px rgb(219, 219, 219);
  box-shadow: 0px 3px 10px 1px rgb(45 45 45 / 8%);
}
#ourblog .content {
  padding: 16px;
  border-radius: 1%;
  border: solid 1px rgb(219, 219, 219);
}
#ourblog img {
  display: block;
  width: 100%;
  border-radius: 1%;
}
#ourblog a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
}
#ourblog a.btn-orange {
  font-size: 16px;
  color: #ff9900;
  text-decoration: none;
  font-weight: 600;
}
#ourblog p.btn-orange {
  font-size: 16px;
  color: #ff9900;
  text-decoration: none;
}
@media only screen and (max-width: 992px) {
  #ourblog {
    padding: 60px 10px 70px 10px;
  }
}
@media only screen and (max-width: 576px) {
  #ourblog {
    padding: 60px 20px 40px 20px;
  }
  #ourblog .container {
    flex-wrap: wrap;
  }
  #ourblog .container .item {
    width: 90%;
    margin-bottom: 50px;
  }
}
/* --------Map------- */
#map {
  width: 100%;
}
/* --------Contact------- */
#contact {
  padding: 40px 120px;
}
#contact .container {
  padding: 0 80px;
  display: flex;
  justify-content: space-around;
}
#contact .container .left {
  width: 40%;
}
#contact h3 {
  font-weight: inherit;
  text-align: left;
  color: #ff9900;
  font-size: 30px;
  margin-top: 0;
}
#contact h4 {
  font-weight: 100;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
}
#contact p {
  margin: 0;
  margin-bottom: 2px;
  font-size: 15px;
}
#contact i {
  width: 20%;
  font-size: 30px;
}
#contact .container .row {
  display: flex;
  margin-bottom: 20px;
}
#contact .container .right {
  width: 50%;
  padding: 32px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 7px 7px 10px 0 rgb(56 56 56 / 21%);
}
#contact input.format-input {
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #555;
  width: 100%;
  border: 1px solid #e6e6e6;
  margin-bottom: 15px;
}
#contact textarea {
  padding: 15px;
  min-height: 180px;
  font-size: 16px;
  color: #555;
  width: 100%;
  resize: none;
  border: 1px solid #e6e6e6;
  font-family: inherit;
}
#contact .btn-submit {
  width: 100%;
  padding: 15px;
  background-color: #fdb54b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  #contact {
    padding: 40px 30px;
  }
  #contact .container {
    padding: 0;
  }
}
@media only screen and (max-width: 576px) {
  #contact {
    padding: 40px 20px;
  }
  #contact h2 {
    font-size: 40px;
  }
  #contact .container {
    flex-wrap: wrap;
  }
  #contact .container .left {
    width: 100%;
  }
  #contact .container .right {
    width: 100%;
  }
}
/* --------Footer------- */
#footer {
  /* width: 100%; */
  padding: 50px 80px;
  background-color: #17181b;
}
#footer h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
#footer h4 {
  font-weight: inherit;
  margin: 0;
  padding: 0;
  color: #fff;
}
#footer p {
  font-size: 15px;
  color: #727377;
  letter-spacing: 1px;
  font-weight: inherit;
  margin: 10px 0px 20px 0px;
}
#footer input {
  padding: 13px;
  font-size: 15px;
}
#footer button {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  margin-left: -5px;
  background-color: #c57600;
  border: none;
}
#footer .item a {
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  margin-right: 10px;
  color: white;
}
a#fb {
  background-color: #3b5998;
}
a#twitter {
  background-color: #1da1f2;
}
a#drib {
  background-color: #ea4c89;
}
a#gg {
  background-color: #f44336;
}
#footer .container {
  display: flex;
  justify-content: space-evenly;
}
#footer .container .item {
  width: 18%;
}
#footer .container .item:last-child {
  width: 25%;
}
@media only screen and (max-width: 992px) {
  #footer {
    padding: 30px 20px;
    background-color: #272729;
  }
  #footer .container .item {
    width: 14%;
  }
  #footer .container .item:last-child {
    width: 35%;
  }
  #footer p {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 576px) {
  #footer {
    padding: 30px 20px;
    background-color: #272729;
  }
  #footer .container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #footer .container .item {
    width: 100%;
  }
  #footer .container .item:last-child {
    width: 100%;
  }
  #footer .container .item:nth-child(1),
  #footer .container .item:nth-child(2) {
    width: 45%;
    margin-right: 20px;
  }
  #footer input {
    padding: 13px 50px 13px 15px;
  }
}
